//mac
.Product-items
    display: flex
    justify-content: center
    >.col-10
        flex: 0 0 120px
        height: 150px
        border: 1px solid #000

.wrapper-layout
    width: 120vw
    margin: 30px -20% 50px -20%

.product-info-item
    padding: 10px
    text-align: center
    background-color: #ece3e3