/* Global*/
=transparent-scrollbar

    &::-webkit-scrollbar
        display: none

    &::-webkit-scrollbar-horizontal
        height: 12px
        background-color: transparent

    &::-webkit-scrollbar-track
        background-color: transparent

    &::-webkit-scrollbar-thumb
        background-color: rgba(0, 0, 0, 0.5)
        border-radius: 6px

    &::-webkit-scrollbar-thumb:hover
        background-color: rgba(0, 0, 0, 0.8)

*
    margin: 0
    padding: 0
    position: relative
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", Helvetica, Arial, sans-serif
    box-sizing: border-box
    //border: 1px solid #000

li
    list-style-type: none

html
    width: 80%
    margin: 0 auto
    display: block

img
    width: 100%

/* layout */
// NavBar
.navBar
    display: block
    width: 60%
    height: 35px
    margin: 0 auto

.nav-item
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 10px
    > li
        cursor: pointer

.Logo,.Search,.Shop-Cart
    width: 20px
    height: 20px
    background-position: center
    background-size: contain
    cursor: pointer

li
    font-size: 12px
    font-weight: 400
    a
        text-decoration: none
        color: #000

// Main section
.title
    font-weight: 600
    margin-bottom: 30px

.product-item
    width: 90%
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: -10px
    margin-bottom: 62px

.col-10
    margin-left: 10px
    margin-right: 10px
    flex: 0 0 100px
    cursor: pointer

.item-image
    display: flex
    justify-content: center
    img
        width: 90%

.item-info
    margin-top: 10px
    text-align: center
    font-size: 13px
    font-weight: 800

// section
.section
    position: relative
    width: 100vw
    margin-bottom: 54px

.sec-title
    font-size: 20px
    font-weight: 800
    margin-bottom: 20px

.sec-item
    width: 100%
    display: flex
    margin-left: -16px
    margin-right: -16px

.item-col
    overflow: hidden
    flex: 0 0 400px
    border-radius: 10px
    margin-left: 16px
    margin-right: 16px
    height: 430px
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5)
    cursor: pointer
    transition: all 0.3s
    &:hover
        scale: 1.01

// section 2
.pro-wrapper
    height: 60%
    display: flex
    justify-content: center
    align-items: flex-end
    img
        width: 60%

.color-box
    display: flex
    justify-content: center
    height: 20px
    margin-top: 5px
    .box
        border-radius: 50%
        width: 10px
        height: 10px
        margin: 0 5px

.pro-info
    z-index: 10
    margin: 20px 0 0 20px
    padding-right: 90px
    position: absolute
    bottom: 20px
    .new
        color: red
    .proName
        margin-top: 10px
        margin-bottom: 20px
    .price
        font-weight: 400

.footer-info
    margin-top: 20px

.footer-logo
    display: flex
    align-items: center
    .logo-title
        margin-left: 12px
        &::before
            position: absolute
            content: '>'
            display: block
            top: 0
            left: -9px
            opacity: 0.6

.footer-item
    display: flex
    margin-top: 20px
    .item-column
        width: 100%
        height: 300px
        .list-col
            margin-bottom: 15px
            h3
                font-weight: bold
                font-size: 12px
            li
                font-size: 12px
                margin: 8px 0
                cursor: pointer

.footer-more
    margin: 40px 0 20px 0

.Copyright
    margin: 20px 0
    display: flex
    align-items: center
    h6
        width: 25%
        margin-right: 30px
    .copy-Link
        width: 75%
        display: flex
        justify-content: space-between
        font-size: 13px
        ul
            display: flex
            li
                margin-right: 15px
                padding: 0 6px
                border-right: 1px solid #000
                cursor: pointer

        .right-Link
            font-size: 12px
            cursor: pointer

// index-section
.home
    width: 99.3vw
    margin: 0 0 5px -13%
    overflow: hidden
// index-images
.index-images
    border: 1px solid black
    height: 60vh
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    >h1
        font-size: 50px
        margin-top: 30px
    >h2
        font-size: 24px
    >.button-item
        >h4.btn
            display: inline-block
            border-radius: 20px
            padding: 10px
            margin: 15px 10px
            font-size: 16px
            cursor: pointer
            &.more
                color: white
                background-color: blue
                width: 120px
                &:hover
                    background-color: #0c01db
                    color: white
            &.buy
                border: 1px solid blue
                color: blue
                width: 80px
                &:hover
                    background-color: blue
                    color: white

.second-section
    display: flex
    justify-content: center
    flex-wrap: wrap
    > .index-images
        width: 50%
        margin: 10px
        flex: 0 0 48%

// scrollbar
.scrollbar
    +transparent-scrollbar
    overflow-x: scroll
    scroll-behavior: smooth
    width: 100vw
    margin-left: -10%
    padding-left: 10%
    padding-bottom: 10px

.action-btns
    position: absolute
    top: 45%
    left: -11%
    width: 100vw
    display: flex
    justify-content: space-between
    align-items: center
    gap: 60px
    z-index: 10
    opacity: 1
    transition: opacity 0.5s ease
    > button
        opacity: 0.6
        width: 80px
        height: 80px
        font-size: 15px
        font-weight: 500
        color: #002d36
        background-color: #99c6cf
        border-radius: 50%
        padding: 10px 25px
        border: none
        cursor: pointer
        transition: all 0.5s ease

.left-button
    margin-left: 30px
.right-button
    margin-right: 30px

.action-btns:hover
    opacity: 1

.action-btns button:hover
    opacity: 1
    background-color: #D7CCC8

// product-card
.product-card
    height: 500px
    border-radius: 10px
    overflow: hidden
    position: relative
    >.card-info
        padding: 10px

.product-card.wrapper   
    >.card-info
        position: absolute
        z-index: 10
        width: 100%
        top: 0
        left: 0
        padding: 10px
        line-height: 40px
        >h5
            font-size: 12px
        >h4
            font-size: 17px
        >h6
            font-size: 28px

.product-card.center
    display: flex
    flex-direction: column
    align-items: center
    >.card-image
        border: 1px solid black
        width: 60%
    >.card-info
        border: 1px solid black
        width: 100%
        height: 100%