/* layout*/
nav 
  width: 100%
  height: 48px
  top: 0
  left: 0
  z-index: 99


.content 
  width: 100%
  height: 48px
  padding: 0 10%

  .content-list 
    display: flex
    justify-content: space-between
    line-height: 48px
    height: 48px
  


.content-list li 
  cursor: pointer


.flyout-content 
  width: 100vw
  height: 80vh
  border: 1px solid black
  padding: 0 10%
  background-color: transparent
  backdrop-filter: blur(15px)
  transition: all 1s
  opacity: 0


.content-item 
  position: absolute
  top: 0
  left: 0
  padding: 0 10%
  width: 100%
  background-color: white
  opacity: 0
  transition: all 1s


.content-group 
  display: flex
  gap: 30px
  padding: 20px 0

  ul 
    width: 80px
    height: 100%
  



.show
  opacity: 1
